# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.venv/

# Ignore IDE/editor files
.vscode/
.idea/
*.sublime-workspace

# Ignore logs and temp files
*.log
*.tmp

# Ignore environment files
.env

# DrawIO
*.drawio
*.bkp